@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;

}
form{
  margin-top:30px;
}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding-left:250px;
  padding-right:250px;
  padding-bottom:30px;
  padding-top:1px;
  background-color: white;
  margin:20px,10px,20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 6px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color:#0D47A1;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
.output{

}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.error-text{
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  /*display: none;*/
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.logo h1{
  font-family: 'Trade Winds';
  font-size:40px;
  color:#1A237E;
}
h3{
text-align: center;
}
.already {
  text-align:center;
}
